{% extends 'base.jinja' %}

{% block content %}
<div ng-controller="AppController">
    <ul class="section" ng-repeat="task in tasks">
      {% raw %}
      <li>[{{ task.category}}{{ task.order }}] - {{ task.title }} - {{ task.due_date }}</li>
      {% endraw %}
    </ul>
    {% raw %}
      <h5>Add Task</h5>
      <form class="">
        <div class="form-group block-level">
            <input type="text" class="form-control" id="category" ng-model="newTask.category" placeholder="A" />
            <input type="text" class="form-control" id="order" ng-model="newTask.order" placeholder="1" />
        </div>
        <div class="form-group block-level">
            <input type="text" class="form-control" id="title" ng-model="newTask.title" placeholder="Title" />
        </div>
        <div class="form-group block-level">
            <input type="date" class="form-control" id="" ng-model="newTask.due_date" placeholder="year-mm-ddTHH:MM" />
        </div>
        <div class="form-group">
            <button class="btn btn-default" ng-click="save()">Add Post</button>
        </div>
      </form>
    {% endraw %}
</div>
{% endblock %}
